.qtip, .qtip-tip {
    width: 500px!important;
    max-width: 600px!important;
}
.qtip-content {
    font-size: 14px;
    line-height: 1.4;
}

.release-notes-info {
    display: none;
    padding: 20px;
    background: #c7e2ea;
    margin: 10px 0;
    max-width: 60%;
}
.release-notes-info.shown {
    display: block;
}
.get-markdown-btn {

    margin: 10px 20px;
}
.markdown-region {
    background: #e5e5e5;
    /* position: fixed; */
    right: 10px;
    top: 140px;
    height: calc(100% - 150px);
    min-height: calc(100% - 150px);
    width: 60%;
}